{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>User authenticate</title>

</head>
<body class="container">      

<div id="hello">
            <img src="{% static 'images/politex.jpg' %}" alt="My image" width="484px" style="float: left;">
            {% if user.is_authenticated %}
            
        <p style="color: white; text-align: right; font-size: 24pt; padding-top:45px; padding-right: 10px;">Здравствуйте, {{ user.first_name }}</p>                 
        {% endif %}
    </div>
<nav>
    <ul class="three">
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">Подача заявки</a></li>
        <li><a href="{% url 'profile' %}">Личный кабинет</a></li>
        <li><a href="{% url 'portfolio' %}">Портфолио</a></li>
        
        <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Войти</a></li> 
        <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                {% endif %}
    
        </ul>
    
</nav>

{% block content %}
{% endblock %}

</body>
</html>