{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% if user.is_authenticated %}
<p>Подача заявки в дирекцию <br> НГТУ им Р.Е. Алексееева</p>
<img src="{% static 'images/chel1.jpg' %}" alt="My image" width="650px" height="600px" style="float: right;">
<div id="form1">
    <h1 style="text-align: center;">Подача заявки</h1>
    <p style="margin-left: 50px;">Вид заявки</p>
    <p style="margin-left: 50px;"><select name="zayvka">
     <option value="s1">Справка</option>
     <option value="s2" selected>Отчисление</option>
     <option value="s3">Академ</option>
    </select> 
    </p>
    <p style="margin-left: 50px;">Тема заявки</p>
    <input type="text" style="margin-left: 50px;">
    <p style="margin-left: 50px;">ФИО</p>
    <input type="text" style="margin-left: 50px;">
    <br>
    <button type="submit" onclick="apply();" class="btn btn-success" style="background:#0168B3; margin-top: 10px; margin-left: 200px; text-align: center;">Подать заявку</button>
    <form action="{% url 'home' %}", method="post" id="applyForm">
        {% csrf_token %}
        <input type="hidden", name="apply" value="true">
    </form>
    <script>
        function apply() {
            alert("Заявка успешно подана!");
            document.getElementById('applyForm').submit();
        }
    </script>
    </div>
{% else %}
<h1>"Цифровой Университет" <br>НГТУ им Р. Е. Алексееева</h1>
<img src="{% static 'images/chel1.jpg' %}" alt="My image" width="650px" height="600px" style="float: right;">
<p>
    Цифровое портфолио студента — сервис, обеспечивающий студентам возможность управления образовательной траекторией, 
    академическими и личностными достижениями, предоставляющий возможность сформировать пакет документов для их подачи на 
    обучение по программам среднего профессионального или высшего образования или при поступление на какую-либо должность.
</p>

{% endif %}
    
{% endblock %}