{% extends 'base.html' %}

{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
    <h1>Цифровое портфолио</h1>
    <img src="{% static 'images/chel2.jpg' %}" alt="My image" width="650px" height="600px" style="float: right;">
    <div id="form2"> 
        <p style="margin-top: 15px; font-size: 20px; text-align: center;">Достижения</p>
 
     </div>
     <form action="{% url 'profile' %}" method="post">
         {% csrf_token %} 
         <div id="form1">
           <div class="form-group">
 
            <p  style="margin-left: 10px;">
              Призер хакатона "Молодые умы для умного города"
            <br> 
              Трехкратный победитель соревновательной площадки Kaggle
            <br>
              Создатель платформы "MineLearning"
             
               
           </div>
           
           </div>
       
       </form>
{% endblock %}