{% extends 'base.html' %}

{% block content %}
{% load static %}
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <h1>Личный кабинет</h1>
    
    <img src="{% static 'images/geer.jpg' %}" alt="My image" width="300px" height="250px" style="float: right; margin-left: 100px; margin-top: 350px;">
    <img src="{% static 'images/robot.jpg' %}" alt="My image" width="372px" height="600px" style="float: right; margin-right: -100px;">
    <div id="form2"> 
       <p style="margin-top: 15px; font-size: 20px; text-align: center;">Информация о пользователе</p>

    </div>
    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %} 
        <div id="form1">
          <h1 style="text-align: center;">Профиль</h1>
          <div class="form-group">
            {% for field in form %}
            <div class="form-group" style="margin-left: 50px;">
                {{field.label_tag}}
                <div>{{field}}</div>
                {% if field.errors%}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success" style="background:#0168B3; margin-top: 10px; margin-left: 50px; text-align: center;">Сохранить</button>
          </div>
        </div>
      </form>
{% endblock %}



