#form1{
    
    width: 585px;
    height: 400px;
    left: 191px;
    top: 422px;
    margin-top: 50px;
    background: #1A254A;
    border-radius: 5px;
    color: white;
    align-items: center;
    }