*{
    margin: 0;
    padding: 0;
}
#hello{
    width: 1320px;
    height: 153px;
    left: 0px;
    top: 51px;
    background: #1A254A;
margin:0;
}
ul {
    list-style: none; 
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    transition: .5s linear;}

nav {
    float:right;
    margin-right: -25px;
  }

  .three ul {
    padding: 0;
    background: #E4EFD1;
  }
  .three li {
    display: inline-block;
    
  }
  .three a {
    padding: 1em;
    display: block;
    color: white;
    border-right: 1px solid #067ace;
    background: #0168B3;
  }
  .three a:hover {background: #1790e6;}
  