*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 32px;
    
}
#form1{
    width: 585px;
    height: 471px;
    left: 191px;
    top: 422px;
    margin-top: 50px;
    background: #1A254A;
    border-radius: 5px;
    color: white;
    align-items: center;
    }
