#form1{

    width: 600px;
    height: 512px;
    left: 83px;
    top: 400px;
    
    border: 2px solid #0072BC;
    box-sizing: border-box;}
    
    #form2{
    margin-top: 50px;
    width: 600px;
    height: 77px;
    left: 83px;
    top: 402px;
    
    border: 2px solid #0072BC;
    box-sizing: border-box;
    
    }
    
    #form1.p{
        margin-left: 10px;
    }