{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<h1>"Цифровой Университет" <br>НГТУ им Р. Е. Алексееева</h1>
<img src="{% static 'images/chel1.jpg' %}" alt="My image" width="650px" height="600px" style="float: right;">

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div id="form1">
        <h1 style="text-align: center;">Авторизация</h1>
        {% for field in form %}
        <div class="form-group" style="margin-left: 50px;">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success" style="background:#0168B3; margin-top: 10px; margin-left: 50px; text-align: center;">Войти</button>
        
        <a href="{% url 'password_reset' %}" style="color: white; margin-left: 10px; ">Забыли пароль?</a>
        </div>
    
    </form>

    
{% endblock %}