{% extends 'base.html' %}

{% block content %}
    <h1>Смена пароля</h1>
    <hr>
    <form action="{% url 'password_reset' %}" method="post">
        {{ form }}
        {% csrf_token %}
    <button type="submit">Подтвердить</button>
    </form>
{% endblock %}